---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout pageTitle="Lagunas Barber" >
  <div class="h-screen bg-red-200">
    <h1>Home</h1>
  </div>

  <div class="h-screen bg-green-200">
    <h1>Home</h1>
  </div>
</BaseLayout>
