---

---

<button
  data-collapse-toggle="navbar-default"
  type="button"
  class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-2text-gray-400 hover:bg-gray-700 focus:ring-white"
  aria-controls="navbar-default"
  aria-expanded="false"
  id="btn-navbar-toggle"
>
  <span class="sr-only">Open main menu</span>
  
</button>
