---
import IconBurger from "@/icons/IconBurger.astro";
---

<button
  data-collapse-toggle="navbar-menu"
  type="button"
  class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-2text-gray-400 hover:bg-gray-800 focus:ring-white"
  aria-controls="navbar-menu"
  aria-expanded="false"
  id="btn-navbar-toggle"
>
  <span class="sr-only">Open main menu</span>
  <IconBurger />
</button>

<script>
  import "@/scripts/MenuFunction"
</script>
