---
const { label, link } = Astro.props;
---

<li>
  <a
    href={link}
    class="block py-2 mb-2 px-3 rounded
    md:border-0 md:p-0 md:mb-0
    text-title-color hover:bg-gray-700
    md:hover:bg-transparent"
  >
    {label}
  </a>
</li>
