---
import LogoFooter from "@/components/footer/LogoFooter.astro";
import FormMobile from "@/components/footer/FormMobile.astro";
import CreditsDev from "@/components/footer/CreditsDev.astro";
import FormContact from "@/components/footer/FormContact.astro";
import LinkFooter from "@/components/footer/LinkFooter.astro";
import GoTo from "@/components/footer/GoTo.astro";
---

<footer class="py-7 relative shadow-top">
  <div class="max-w-screen-xl mx-auto mt-7">
    <div class="px-4 grid grid-cols-8 gap-2">
      <div
        class="col-span-8 mx-auto lg:mx-0 md:col-span-3 lg:col-span-2 flex justify-center md:justify-start mb-6 md:mb-0"
      >
        <LogoFooter />
      </div>
      <div
        class="col-span-8 md:col-span-5 lg:col-span-3 grid grid-cols-2 mb-3 md:mb-0"
      >
        <GoTo />
        <div
          class="flex justify-center mx-auto lg:mx-0 md:justify-start md:items-center"
        >
          <div class="md:w-full">
            <div class="mb-3 md:ml-5">
              <h3 class="text-title-color font-bold text-xl md:text-2xl">
                Social
              </h3>
            </div>
            <div
              class="flex flex-col gap-[3px] md:ml-5 lg:border-r-[1px] lg:border-font-color"
            >
              <LinkFooter label="Correo" link="#" />
              <LinkFooter label="Instagram" link="#" />
              <LinkFooter label="Facebook" link="#" />
            </div>
          </div>
        </div>
      </div>
      
        <FormContact />
    </div>
    <CreditsDev />
  </div>

  <FormMobile />

  <button
    id="btnContact"
    class="absolute text-xl rounded-lg bg-font-color text-primary-color lg:hidden shadow-2xl"
  >
    Contacto
  </button>
</footer>

<style>
  #btnContact {
    font-weight: 600;
    z-index: 50;
    top: -27px;
    left: calc(50% - 150px);
    width: 300px;
    height: 55px;
  }
</style>
