---
import LinkNavFooter from "@/components/footer/LinkNavFooter.astro";
import OutLineBtn from "./footer/OutLineBtn.astro";
import GaleryIG from "./footer/GaleryIG.astro";
import CreditsFooter from "./footer/CreditsFooter.astro";
---

<footer id="contact" class="text-font-color bg-primary-color sticky bottom-0">
  <div class="pt-[70px] pb-[3%] max-w-screen-xl mx-auto">
    <div class="flex flex-col mt-12 gap-12 justify-center items-center w-full">
      <!-- NAVIGATION SECTION -->
      <section class="flex flex-wrap justify-center gap-5 sm:gap-16">
        <LinkNavFooter link="#" label="Inicio" />
        <LinkNavFooter link="#servicios" label="Servicios" />
        <LinkNavFooter link="#nosotros" label="Nosotros" />
        <LinkNavFooter link="#contacto" label="Contacto" />
      </section>

      <!-- GALERY SECTION -->
      <GaleryIG />

      <!-- SOCIAL MEDIA BUTTONS -->
      <section class="flex flex-wrap justify-center gap-5 sm:gap-10">
        <OutLineBtn
          link="https://www.instagram.com/brunomarquesbr/"
          label="Instagram"
        />
        <OutLineBtn
          link="https://www.instagram.com/brunomarquesbr/"
          label="Facebook"
        />
        <OutLineBtn
          link="https://www.instagram.com/brunomarquesbr/"
          label="TikTok"
        />
      </section>
    </div>

    <CreditsFooter />
  </div>
</footer>

<style>
  #contact {
    z-index: 1;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 0, 50% 10%);
  }
</style>
