<div class="text-center">
  <hr
    class="border-font-color
      border-[0.1px]
      w-5/6
      mx-auto
      my-4"
  />
  <p class="text-font-color">
    <a href="https://www.instagram.com/brunomarquesbr/" target="_blank"
      >© 2024 - Desarrollado por
      <span class="text-button-color">BMS</span>
    </a>
  </p>
</div>
