<div class="mt-12">
  <hr
    class="border-0 border-t-[0.1px] border-solid border-font-color w-10/12 md:w-full mx-auto my-4 opacity-45"
  />
  <div class="text-center">
    <a href="#" target="_blank" class="">
      &copy; 2024 - Desarrollado por <span class="font-bold text-button-color"
        >BMS</span
      >
    </a>
  </div>
</div>
