<div
  class="flex justify-center mx-auto lg:mx-0 md:justify-start md:items-center"
>
  <div class="md:w-full">
    <div class="mb-3">
      <h3 class="text-title-color font-bold text-xl md:text-2xl">Ir a</h3>
    </div>
    <div
      class="flex flex-col gap-[3px] lg:border-r-[1px] lg:border-font-color md:mr-5"
    >
      <a href="#" class="text-font-color hover:text-button-color">Inicio</a>
      <a href="#" class="text-font-color hover:text-button-color">Galeria</a>
      <a href="#" class="text-font-color hover:text-button-color">Servicios</a>
    </div>
  </div>
</div>
