---
const {link, label} = Astro.props;
---

<a
  href={link}
  target="_blank"
  class="px-7 py-1.5 border-button-color
        border-[1px] hover:text-primary-color hover:bg-button-color ransition-all duration-300 ease-in-out"
>
  <span> {label} </span>
</a>
